BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 100
PointerBindsToType: true
BreakBeforeBraces: Stroustrup

# Do not align consecutive comments that follow a line of code
AlignTrailingComments: false

# force argument on one line each
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

# AlwaysBreakAfterDefinitionReturnType: All

BraceWrapping:
  AfterFunction: true
  AfterClass: false
  BeforeCatch: true
  BeforeElse: true
